<!-- <div class="container">
  <p>Angular Fullstack v3.7.6 |
    <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
    <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
  </p>
</div> -->

<div class="container footer">
  <div class="jab">
  <div class="row">
    <div class="col-md-3 fufa">
      <h3 class="h3">Categories</h3>
      <a href="#">Action</a><br>
      <a href="#">Comedy</a><br>
      <a href="#">Documentary</a><br>
      <a href="#">Drama</a><br>
      <a href="#">Fantasy</a><br>
      <a href="#">Sci-Fi</a><br>
      <a href="#">Thriller</a><br>
    </div>
    <div class="col-md-3 fufa">
      <h3 class="h3">Information</h3>
      <a href="#">About Us</a><br>
      <a href="#">Contact Us</a><br>
      <a href="#">Terms & Conditions</a><br>
    </div>
    <div class="col-md-3 fufu">
      <h3 class="h3">Tags</h3>
      <a href="#" class="label">Action</a>
      <a href="#" class="label">Drama</a>
      <a href="#" class="label">Documentary</a>
      <a href="#" class="label">Comedy</a>
      <a href="#" class="label">Horror</a>
      <a href="#" class="label">Thriller</a>
      <a href="#" class="label">Fantasy</a>
      <a href="#" class="label">Sci-Fi</a>
      <a href="#" class="label">Movie</a>
    </div>
    <div class="col-md-3">
      <h3 class="h3">Subscribe to our newsletter</h3>
      <p>Get quick updates and alerts about all the new trailers and movie releases.</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter Your Email">
        <span class="input-group-btn butto"><button class="btn btn-primary">Subscribe</button></span>
      </div>
    </div>
  </div>
</div>
  <p>&copy; 2017 BigShow, Inc. All Rights Reserved.</p>
</div>
